openapi: 3.0.3
info:
  title: GeoServer WMS Layer API
  description: Interactive documentation for GeoServer Web Map Service (WMS) layers
  version: 1.0.0
servers:
  - url: https://api.airtext.info
    description: Production GeoServer WMS Endpoint

paths:
  /geoserver/london/wms:
    get:
      summary: Renders airTEXT maps
      description: |
        Provides URLs that can be used to view map layers.

        **NOTE:** The "Try it out" feature in Swagger UI will not display the rendered map directly due to CORS restrictions. However, you can copy the generated **Request URL** and open it directly in a new browser tab to view the map image.
      parameters:
        - name: service
          in: query
          required: true
          schema:
            type: string
            default: WMS
        - name: version
          in: query
          required: true
          schema:
            type: string
            default: 1.3.0
            enum: [1.1.1, 1.3.0]
        - name: request
          in: query
          required: true
          schema:
            type: string
            default: GetMap
        - name: layers
          in: query
          required: true
          description: Comma-separated list of workspace:layer names
          schema:
            type: string
            example: NO2
            enum:
              - NO2
              - PM10
              - PM25
              - O3
              - Total
        - name: styles
          in: query
          required: true
          schema:
            type: string
            example: daqiNO2
            enum:
              - daqiNO2
              - daqiPM10
              - daqiPM25
              - daqiO3
              - daqiTotal
        - name: bbox
          in: query
          required: true
          description: Bounding box minx,miny,maxx,maxy
          schema:
            type: string
            example: "51.069,-0.853,51.721,0.337"
        - name: width
          in: query
          required: true
          schema:
            type: integer
            default: 768
        - name: height
          in: query
          required: true
          schema:
            type: integer
            default: 512
        - name: time
          in: query
          required: false
          description: ISO 8601 timestamp (YYYY-MM-DDTHH:mm:ssZ) 
          schema:
            type: string
            example: "2026-10-07T00:00:00Z"
        - name: srs
          in: query
          required: true
          schema:
            type: string
            default: EPSG:4326
            enum: [EPSG:4326, EPSG:27700, EPSG:900913]
        - name: format
          in: query
          required: true
          schema:
            type: string
            default: image/png
            enum: [image/png, image/jpeg, image/svg+xml]
      responses:
        '200':
          description: Map image rendered successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
