openapi: 3.0.3
info:
  title: GeoServer WMS Layer API
  description: Interactive documentation for GeoServer Web Map Service (WMS) layers.
  version: 1.0.0
servers:
  - url: https://api.airtext.info/geoserver/london/wms
    description: Production GeoServer WMS Endpoint

paths:
  /:
    get:
      summary: GetMap - Render map image
      description: Returns a map image for specified layers, bounding box, and dimensions.
      parameters:
        - name: service
          in: query
          required: true
          schema:
            type: string
            default: WMS
        - name: version
          in: query
          required: true
          schema:
            type: string
            default: 1.3.0
            enum: [1.1.1, 1.3.0]
        - name: request
          in: query
          required: true
          schema:
            type: string
            default: GetMap
        - name: layers
          in: query
          required: true
          description: Comma-separated list of workspace:layer names
          schema:
            type: string
            example: NO2
            enum:
              - NO2
              - PM10
        - name: styles
          in: query
          required: true
          schema:
            type: string
            default: ""
        - name: bbox
          in: query
          required: true
          description: Bounding box minx,miny,maxx,maxy
          schema:
            type: string
            example: "-0.15,51.45,-0.05,51.55"
        - name: width
          in: query
          required: true
          schema:
            type: integer
            default: 768
        - name: height
          in: query
          required: true
          schema:
            type: integer
            default: 512
        - name: time
          in: query
          required: true
          schema:
            type: ISO8601
            default: current
        - name: srs
          in: query
          required: true
          schema:
            type: string
            default: EPSG:4326
            enum: [EPSG:4326, EPSG:3857]
        - name: format
          in: query
          required: true
          schema:
            type: string
            default: image/png
            enum: [image/png, image/jpeg, image/svg+xml]
      responses:
        '200':
          description: Map image rendered successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
